<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Style.css">
    <link rel="icon" href="unuja.png">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <!-- HEADER -->
        <header class="container-header">
            <h1 class="title"></h1>
        </header>
        <!-- AKHIR HEADER -->

        <!-- CONTENT -->
        <section class="container-content" id="form">

        </section>
        <!-- AKHIR CONTENT -->
        
        <!-- FOOTER -->
        <footer class="container-footer">
            <div class="footer"></div>
        </footer>
        <!-- AKHIR FOOTER -->
    </div>

</body>
</html>